@page
@model Library.Pages.Books.AddModel
@{
    
}

@section Scripts {

    <script>
        $("#add").click(function () {
            var html = "";
            var rowCounter = document.querySelector("#rowCounter");

            var rowCount = parseInt(rowCounter.getAttribute("value"));

            html += "<tr id=\"row" + rowCount + "\">";

            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].FirstName\" /> </td>";
            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].MiddleName\" /> </td>";
            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].LastName\" /> </td>";

            html += "</tr>";

            $("#body").append(html);

            rowCount++;
            rowCounter.setAttribute("value", rowCount);
        });

        $("#remove").click(function() {
            var rowCounter = document.querySelector("#rowCounter");
            var rowCount = parseInt(rowCounter.getAttribute("value"));

            if (rowCount > 1) {
                $("#row" + (rowCount - 1)).remove();
                rowCount--;
                rowCounter.setAttribute("value", rowCount);
            }
        });
    </script>
}

<form method="post">
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" value="@Model.Title"/>

    <br />

    <label for="authors">Authors</label>

    <input type="button" id="add" value="Add"/>
    <input type="button" id="remove" value="Remove"/>

    <table id="authors">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
            </tr>
        </thead>    
        
        <input type="hidden" id="rowCounter" name="rowCount" value="@Model.RowCount" />
        <tbody id="body" name="body">
            @if (Model.RowCount == 1 && Model.Authors == null) {
                <tr id="row0">
                    <td><input type="text" asp-for="@Model.Authors[0].FirstName"/></td>
                    <td><input type="text" asp-for="@Model.Authors[0].MiddleName"/></td>
                    <td><input type="text" asp-for="@Model.Authors[0].LastName"/></td>
                </tr>
            }
            else {
                for (int i = 0; i < Model.RowCount; i++)
                {
                    <tr id="row@i">
                        <td><input type="text" asp-for="@Model.Authors[i].FirstName"/></td>
                        <td><input type="text" asp-for="@Model.Authors[i].MiddleName"/></td>
                        <td><input type="text" asp-for="@Model.Authors[i].LastName"/></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />

    <label for="publisher">Publisher</label>
    <input type="text" id="publisher" name="publisher" />

    <br />

    <label for="dewey">Dewey Decimal Number</label>
    <input type="text" id="dewey" name="dewey"/>

    <br />

    <label for="summary">Summary</label>
    <textarea id="summary" name="summary">
    </textarea>

    <br />

    <input type="text" id="genre" name="genre" />

    <br />

    <label for="audience">Target Audience</label>
    <select name="audience">
        <option value="">Select A Target Audience</option>
        <option value="0">Children</option>
        <option value="1">Young Adult</option>
        <option value="2">Adult</option>
        <option value="3">Researchers</option>
    </select>

    <br />

    <label for="condition">Conditon</label>
    <select name="condition">
        <option value="">Select A Condition</option>
        <option value="0">New</option>
        <option value="1">Slight</option>
        <option value="2">Damaged</option>
        <option value="3">Needs Repair</option>
    </select>

    <br />

    <input type="submit" value="Add Book"/>
</form>