@page
@model Library.Pages.Books.AddModel
@{
    
}

@section Scripts {

    <script>
        $("#add").click(function () {
            var html = "";
            var rowCounter = document.querySelector("#rowCounter");

            var rowCount = parseInt(rowCounter.getAttribute("value"));

            html += "<tr>";

            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].FirstName\" /> </td>";
            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].MiddleName\" /> </td>";
            html += "<td> <input type=\"text\" name=\"Authors[" + rowCount + "].LastName\" /> </td>";

            html += "</tr>";

            $("#body").append(html);

            rowCount++;
            rowCounter.setAttribute("value", rowCount);
        });
    </script>
}

<h1>@Model.TestStr</h1>

<form method="post">
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" value="@Model.Title"/>

    <br />

    <label for="authors">Authors</label>

    <input type="button" id="add" value="Add"/>
    <input type="button" id="remove" value="Remove"/>

    <table id="authors">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
            </tr>
        </thead>    

        <input type="hidden" id="rowCounter" name="rowCount" value="@Model.RowCount" />
        <tbody id="body" name="body">
            @if (Model.RowCount == 0) {
                <tr>
                    <td><input type="text" asp-for="@Model.Authors[0].FirstName"/></td>
                    <td><input type="text" asp-for="@Model.Authors[0].MiddleName"/></td>
                    <td><input type="text" asp-for="@Model.Authors[0].LastName"/></td>
                </tr>
            }
            else {
                @for (int i = 0; i < Model.RowCount; i++)
                {
                    <tr>
                        <td><input type="text" asp-for="@Model.Authors[i].FirstName"/></td>
                        <td><input type="text" asp-for="@Model.Authors[i].MiddleName"/></td>
                        <td><input type="text" asp-for="@Model.Authors[i].LastName"/></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <input type="submit" />
</form>
