@page
@model Library.Pages.Books.IndexModel
@using Library.Models;
@{
    ViewData["Title"] = "Books";
}

<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Genre</td>
            <td>Dewey Decimal Number</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model.Books)
        {
            Author author = Model.Context.Authors.First(a => a.ID == book.AuthorID);
            
            <tr>
                <td><a asp-page="/Books/ViewBook" asp-route-id="@book.ID">@book.Title</a></td>
                <td>@author.FirstName @author.LastName</td>
                <td>@book.Genre</td>
                <td>@book.DeweyNumber</td>
            </tr>
        }
    </tbody>
</table>
