@page
@model Library.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<form>
    <input type="text" name="SearchString" value="@Model.SearchString"/>
    <select value="">
        <option value="0">Title</option>
        <option value="1">Author</option>
        <option value="2">Publisher</option>
    </select>
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>
            <th>Dewey Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var book in Model.Books) {
            <tr>
                <td> <a asp-page="./ViewBook" asp-route-id="@book.ID">@book.Title</a></td>
                <td>@book.Summary</td>
                <td>@book.DeweyNumber</td>
            </tr>
        }
    </tbody>
</table>
