@page
@model Library.Pages.Books.IndexModel
@using Library.Models;
@{
    ViewData["Title"] = "Books";
}

<form method="get">
    <input asp-for="SearchString" />
    <select asp-for="SearchOption" asp-items="Html.GetEnumSelectList<SearchOption>()">
    </select>

    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Summary</th>
            <th>Genre</th>
            <th>Dewey Decimal Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model.Books)
        {
            Author author = Model.Context.Authors.First(a => a.ID == book.AuthorID);
            Publisher publisher = Model.Context.Publishers.First(p => p.ID == book.PublisherID);

            <tr>
                <td><a asp-page="/Books/ViewBook" asp-route-bookID="@book.ID">@book.Title</a></td>
                <td>@author.FirstName @author.LastName</td>
                
                @if (book.Summary.Length > 120)
                {
                    <td>@book.Summary.Substring(0, 120)...</td>
                }
                else
                {
                    <td>@book.Summary</td>
                }

                <td>@book.Genre</td>

                <td>@book.DeweyNumber</td>
            </tr>
        }
    </tbody>
</table>
