@page "{id?}"
@model Library.Pages.Books.ViewBookModel
@{
}

<table class="table">
    <tbody>
        <tr>
            <th>Title</th>
            <td>@Model.Books.First().Title</td>
        </tr>

        <tr>
            <th>Summary</th>
            <td>@Model.Books.First().Summary</td>
        </tr>

        <tr>
            <th>Genre</th>
            <td>@Model.Books.First().Genre</td>
        </tr>
    </tbody>
</table>

@if (Model.HttpContext.Session.GetString("loginType") == "member") {
    <form method="post">
        <input type="hidden" asp-for="@Model.BookID" />
        <button>Check Out</button>
    </form>

    <h3>@Model.Message</h3>
}

@if (Model.HttpContext.Session.GetString("loginType") == "employee" && Model.HttpContext.Session.GetString("roles").Contains("librarian")) {
    <table class="table">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Condition</th>
                <th>Checked Out</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var b in Model.Books){
                var checkOut = Model.Context.CheckOuts.Where(co => co.BookID == b.ID && !co.Returned).FirstOrDefault();

                <tr>
                    <td>@b.ID</td>
                    <td>@b.Condition</td>
                    @{
                        if (checkOut == null)
                        {
                            <td>N/A</td>
                        }
                        else
                        {
                            <td>@checkOut.MemberID</td>
                        }
                    }

                    <td>
                        <form method="post" asp-page-handler="Edit">
                            <input type="hidden" name="bookID" value="@b.ID" />
                            <input type="submit" value="Edit Book" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}