@page
@model Library.Pages.Members.CheckoutHistoryModel
@{
}

<form method="post">
    <input type="hidden" asp-for="@Model.ID"/>

    <label for="start">Start Date</label>
    <input asp-for="@Model.Start"/>

    <label for="end">End Date</label>
    <input asp-for="@Model.End"/>

    <br />

    <h3>Select What to Retrieve:</h3>

    <label for="book">Books:</label>
    <input asp-for="@Model.Books"/>

    <br />

    <label for="device">Devices:</label>
    <input asp-for="@Model.Devices"/>

    <br />

    <label for="service">Services:</label>
    <input asp-for="@Model.Services"/>

    <br />

    <input type="submit" value="Generate Report" />
</form>
