@page
@model Library.Pages.Members.FinesModel
@using Library.Data;
@{
    ViewData["Title"] = "Fines";
}

<h3>@Model.Message</h3>

<table class="table">
    <thead>
        <tr>
            <th>Late Item</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var fine in Model.Fines)
        {
            <tr>
                <td>Late @fine.ItemType: @fine.ItemName</td>
                <td>$@fine.Amount.ToString("#.##")</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="checkoutID" value="@fine.CheckoutID" />
                        <input type="hidden" name="fineAmount" value="@fine.Amount" />
                        <input type="submit" value="Pay Fine" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
