@page
@model Library.Pages.Members.IndexModel
@{
}

<h1>Library Members</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var member in Model.Members) {
            <tr>
                <td>@(member.FirstName + " " + @member.LastName)</td>
                <td>@member.Gender</td>
                <td>@member.MemberType</td>
                <td>@member.MemberStatus</td>
            </tr>
        }
    </tbody>
</table>