@page
@model Library.Pages.Members.IndexModel
@using Library.Data;
@{
    ViewData["Title"] = "Members";
}

<form method="get">
    <div class="form-group">
        <label asp-for="FilteredStatus">Member Status:</label>
        <select asp-for="FilteredStatus" asp-items="Html.GetEnumSelectList<MemberStatus>()">
        </select>
    </div>

    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Membership Type</th>
            @if(Model.FilteredStatus == MemberStatus.Inactive)
            {
                <th></th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>@member.FirstName @member.LastName</td>
                <td>@Html.DisplayFor(m => member.BirthDate)</td>
                <td>@Html.DisplayFor(m => member.Status)</td>
                @if (Model.FilteredStatus == MemberStatus.Inactive)
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="memberID" value="@member.ID" />
                            <input type="submit" value="Reactivate" asp-page-handler="Reactivate" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>