@page
@model Library.Pages.Members.ProfileModel
@{
    ViewData["Title"] = "Member Profile";
}

<a asp-page="/Members/Edit"><h3>Edit Account</h3></a>

<a asp-page="/Members/Notifications"><h3>Notifications</h3></a>
<a asp-page="/Members/Fines"><h3>Pay Fines</h3></a>

@if (Model.ReservedRoom != null)
{
    <table class="table">
        <tr>
            <th>Room</th>
            <td>@Model.ReservedRoom.Location</td>
            <td>@Model.ReservedRoom.Type.ToString()</td>
            <td>
                <form method="post">
                    <input type="hidden" name="location" asp-for="ReservedRoom.Location" />
                    <input type="submit" value="Relinquish Room" asp-page-handler="relinquish"/>
                </form>
            </td>
        </tr>
    </table>
}


@if (Model.CheckedOutBookID != null)
{
    <table class="table">
    
            <tr>
                <th>Title</th>
                <th>Check Out Date</th>
                <th></th>
            </tr>

            @foreach (var checkOutID in Model.CheckedOutBookID)
            {
                var co = Model.Context.CheckOuts.Where(co => co.ID == checkOutID).First();
                var book = Model.Context.Books.Where(b => b.ID == co.ItemID).First();
                <tr>
                    <td>@book.Title</td>
                    <td>@co.CheckOutDate.ToString("MM/dd/yyyy")</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="checkOutID" value="@co.ID" />
                            <input type="submit" value="Return" asp-page-handler="return" />
                        </form>
                    </td>
                </tr>
            }
     </table>
 }

@if (Model.CheckedOutDeviceID != null)
{
    <table class="table">
        <tr>
            <th>Device</th>
            <th>Check Out Date</th>
            <th></th>
        </tr>

        @foreach (var checkOutID in Model.CheckedOutDeviceID)
        {
            var co = Model.Context.CheckOuts.Where(co => co.ID == checkOutID).First();
            var device = Model.Context.Devices.Where(d => d.ID == co.ItemID).First();

            <tr>
                <td>@device.Name</td>
                <td>@co.CheckOutDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="checkOutID" value="@co.ID" />
                        <input type="submit" value="Return" asp-page-handler="return" />
                    </form>
                </td>
            </tr>
        }
    </table>
}


@if(Model.Holds != null)
{
    <table class="table">
        <tr>
            <th>Title of Book</th>
            <th>Date the Hold Order Was Made</th>
        </tr>

        @foreach (var hold in Model.Holds)
        {
            var book = Model.Context.Books.Where(b => b.ID == hold.BookID).First();
            <tr>
                <td>@book.Title</td>
                <td>@hold.HoldDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    </table>
}