@page
@model Library.Pages.Members.ProfileModel
@{
}

<h1>Hello @Model.Member.FirstName @Model.Member.LastName!</h1>
<a href="../Books">Catalog</a>

@if (Model.ReservedRoom != null)
{
    <table class="table">
        <tbody>
            <tr>
                <th>Reserved Room</th>
                <td>@Model.ReservedRoom.Location</td>
                <td>
                    <form method="post" asp-page-handler="Relinquish">
                        <input type="hidden" name="memberID" value="@Model.Member.ID" />
                        <input type="hidden" name="roomID" value="@Model.ReservedRoom.ID" />
                        <input type="submit" value="Relinquish Room" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
}

<h3>Current Check Outs</h3>
<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Return Date</th>
            <th></th>
        </tr>
    </thead>
    @{
        var books = (from b in Model.Context.Book
                     where (from co in Model.CurrentCheckOuts
                            select co.BookID).Contains(b.ID)
                     select b).ToList();

        foreach (var b in books)
        {
            <tr>
                <td><a asp-page="../Books/ViewBook" asp-route-id=@b.ID>@b.Title</a></td>
                <td>@Model.CurrentCheckOuts.Where(co => co.BookID == b.ID).First().ReturnDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <form asp-page-handler="Return" method="post">
                        <input type="hidden" name="bookID" value="@b.ID" />
                        <input type="hidden" name="memberID" value="@Model.Member.ID" />
                        <button>Return</button>
                    </form>
                </td>
            </tr>
        }
    }

    <thead>
        <tr>
            <th>Device Name</th>
            <th>Return Date</th>
            <th></th>
        </tr>
    </thead>

    @{
        var devices = (from d in Model.Context.Device
                       where (from b in Model.Borrows
                              select b.DeviceID).Contains(d.ID)
                       select d).ToList();

        foreach (var device in devices)
        {
            <tr>
                <td>@device.Name</td>
                <td>@Model.Borrows.Where(b => b.DeviceID == device.ID).First().ReturnDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <form asp-page-handler="ReturnDevice" method="post">
                        <input type="hidden" name="deviceID" value="@device.ID" />
                        <input type="hidden" name="memberID" value="@Model.Member.ID" />
                        <button>Return</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>


<h3>Current Holds</h3>
<table class="table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Hold Date</th>
        </tr>
    </thead>
    @{
        foreach (var b in Model.Holds)
        {
            var book = Model.Context.Book.Where(_b => _b.Title == b.BookTitle).First();
            <tr>
                <td><a asp-page="../Books/ViewBook" asp-route-id=@book.ID>@b.BookTitle</a></td>
                <td>@b.HoldDate.ToString("MM/dd/yyyy")</td>
            </tr>
        }
    }
</table>