@page
@model Library.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h4>Create Room</h4>
<form method="post">
    
    <label for="location">Location:</label>
    <input type="text" name="location" value="@Model.Location" />   
    
    <br />
    <label for="name">Room Type :</label>
    <select name="name" asp-for="@Model.RoomType">
        <option selected="selected" hidden="hidden">Select Room</option>
        <option value="0">Study</option>
        <option value="1">Meeting</option>
        <option value="2">Piano</option>
    </select>
    <br />

    <label for="available">Availability:</label>
    <input type="checkbox" name="available" value="@Model.IsAvailable" checked="@Model.IsAvailable" />
    <br />
    

    <br />
    
    <input type="submit" value="Create" class="btn btn-primary" />


    </form>
<div>
    <a asp-page="Index">Back to List</a>
</div>

<h3 style="color:red">@Model.ErrorMessage</h3>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
