@page
@model Library.Pages.Rooms.EditModel
@{
}

<h4>Edit Room</h4>
<form method="post">
    <input type="hidden" name="roomID" value="@Model.ID" />

    <label for="location">Location:</label>
    <input type="text" name="location" value="@Model.Location" />   

    <br />

    <label for="type">Room Type :</label>
    <select name="type" value="@Model.Type" asp-for="@Model.Type">
        <option selected="selected" hidden="hidden">Select Room</option>
        <option value="0">Study</option>
        <option value="1">Meeting</option>
        <option value="2">Piano</option>
    </select>

    <br />

    <label for="available">Is Vacant:</label>
    <input type="checkbox" name="available" asp-for="@Model.IsAvailable" />

    <br />

    <input type="submit" value="Save Edit" class="btn btn-primary" />

    </form>
<div>
    <a asp-page="Index">Back to List</a>
</div>

<h3 style="color:red">@Model.ErrorMessage</h3>
