@page
@model Library.Pages.Rooms.IndexModel
@{
    ViewData["Title"] = "Rooms";
    string? loginType = HttpContext.Session.GetString("loginType");
    string? role = HttpContext.Session.GetString("employeeRole");
}

<h3>@Model.Message</h3>

<table class="table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Room Type</th>
            <th>Availability?</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var room in Model.Rooms)
        {
            <tr>
                <td>@room.Location</td>
                <td>@Html.DisplayFor(model => room.Type)</td>
                <td>@Html.DisplayFor(model => room.IsAvailable)</td>

                @if (loginType != null && loginType == "member" && room.IsAvailable)
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="location" value="@room.Location" />
                            <input type="submit" value="Reserve" />
                        </form>
                    </td>
                }
                else if (loginType != null && role != null && (role == "Admin" || role == "Technician"))
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="location" value="@room.Location" />
                            <input type="submit" value="Edit" asp-page-handler="edit" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
