@page
@model Library.Pages.Reports.CheckoutReportModel
@{
    ViewData["Title"] = "Checkout Report";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Start" class="control-label">Start Date:</label>
        <input asp-for="Start" class="form-control" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="End" class="control-label">End Date:</label>
        <input asp-for="End" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FilterType" class="control-label">Checkout Type:</label>
        <select asp-for="FilterType" asp-items="Html.GetEnumSelectList<CheckoutType>()">
        </select>
        <span asp-validation-for="FilterType" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Generate Report" />
</form>

@if(Model.GenerateReport == true)
{
    <h4>Checked Out from @Model.Start.ToString("MM/dd/yyyy") to @Model.End.ToString("MM/dd/yyyy")</h4>
<table class="table">
    
    <thead>
        <tr>
               

            <th>Name</th>
            <th>Check Out Date</th>
            <th>Return Date</th>
            <th>Item</th>
            <th>Name of Item</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var row in Model.Reports)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.CheckoutDate.ToString("MM/dd/yyyy")</td>
                @if(row.ReturnDate == null)
                {
                    <td>Not Yet Returned</td>
                }
                else{
                <td>@row.ReturnDate?.ToString("MM/dd/yyyy")</td>
                }

                <td>@row.ItemType.ToString()</td>
                <td>@row.ItemName</td>
            </tr>
        }
    </tbody>
</table>
<h4>Total Check Outs: @Model.Reports.Count()</h4>

}