@page
@model Library.Pages.Reports.COHistory
@{
}

@if (Model.CheckOuts != null && Model.CheckOuts.Count > 0)
{
    <h2>Books</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Return Date</th>
            </tr>
        </thead>

        <tbody>
                @foreach (var co in Model.CheckOuts)
                {
                    var book = Model.Context.Book.Find(co.BookID);

                    if (book == null)
                    {
                        continue;
                    }

                    <tr>
                        <td>@book.Title</td>
                        <td>@co.ReturnDate</td>
                    </tr>
                }
        </tbody>
    </table>
}


@if (Model.Borrows != null && Model.Borrows.Count > 0)
{
    <h2>Devices</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Return Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var b in Model.Borrows)
            {
                var device = Model.Context.Device.Find(b.DeviceID);

                if (device == null)
                {
                    continue;
                }

                <tr>
                    <td>@device.Name</td>
                    <td>@b.ReturnDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Uses != null && Model.Uses.Count > 0)
{
    <h2>Services</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Use Date</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var u in Model.Uses)
            {
                var service = Model.Context.Service.Find(u.ServiceID);

                if (service == null)
                {
                    continue;
                }

                <tr>
                    <td>@service.Name</td>
                    <td>@u.TimeStamp</td>
                </tr>
            }
        </tbody>
    </table>
}