    @page
    @model Library.Pages.Reports.ItemAdditionHistory
    @{
    }



    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Start" class="control-label">Start Date:</label>
            <input asp-for="Start" class="form-control"/>
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="End" class="control-label">End Date:</label>
            <input asp-for="End" class="form-control"/>
            <span asp-validation-for="End" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Generate Report"/>
    </form>

    @if (Model.GenerateReport)
    {
        int bookCount = Model.Books.Count();
        int deviceCount = Model.Devices.Count();
        int resourceCount = Model.Resources.Count();
        int roomCount = Model.Rooms.Count();
        int serviceCount = Model.Services.Count();

        int total = bookCount + deviceCount + resourceCount + roomCount + serviceCount;
    int maxrows = 0;

    @if (bookCount > maxrows)
    {
        maxrows = bookCount;
    }
    @if (deviceCount > maxrows)
    {
        maxrows = deviceCount;
    }
    @if (resourceCount > maxrows)
    {
        maxrows = resourceCount;
    }
    @if (roomCount > maxrows)
    {
        maxrows = roomCount;
    }
    @if (serviceCount > maxrows)
    {
        maxrows = serviceCount;
    }

        <table class="table">
            <thead>
                <tr>
                    <th>Books</th>                    
                    <th>Devices</th>
                    <th>Resources</th>
                    <th>Rooms</th>
                    <th>Services</th>


                </tr>

               
            </thead>

            <tbody>

                @for(int i=0;i<maxrows;i++)
                {
                <tr>    
                    @if (bookCount > i)
                    {
                        <td>@Model.Books[i].Title</td>
                    }
                    else
                    {
                    <td></td>
                    }
                    @if (deviceCount > i)
                    {
                        <td>@Model.Devices[i].Name</td>
                    }
                    else
                    {
                    <td></td>
                    }
                    @if (resourceCount > i)
                    {
                        <td>@Model.Resources[i].Name</td>
                    }
                    else
                    {
                    <td></td>
                    }

                    @if (roomCount >i)
                    {
                        <td>@Model.Rooms[i].Location</td>
                    }
                    else
                    {
                    <td></td>
                    }
                    @if (serviceCount > i)
                    {
                        <td>@Model.Services[i].Name</td>
                    }
                    else
                    {
                    <td></td>
                    }
                </tr>
                    
                }             


                    <tr>
                        <th>Total Books Added: @bookCount</th>
                        <th>Total Devices Added: @deviceCount</th>
                        <th>Total Resources Added: @resourceCount</th>
                        <th>Total Rooms Added: @roomCount</th>
                        <th>Total Services Added: @serviceCount</th>
                        <th>Total Items Added: @total</th>
                    </tr>

                   

            </tbody>          

          
           
        </table>
    }
