@page
@model Library.Pages.Reports.LibraryMembersModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Balance Due</th>
            <th>Check Out Count</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var m in Model.Members)
        {
            int checkout = Model.Context.CheckOuts.Where(co => co.MemberID == m.ID && !co.Returned).Count();

            <tr>
                @if(m.MiddleName == null)
                {
                    <td>@m.FirstName @m.LastName</td>
                }
                else
                {
                    <td>@m.FirstName @m.MiddleName. @m.LastName</td>
                }

                <td>@m.MemberType</td>
                <td>@m.MemberStatus</td>
                <td>@m.Balance.ToString("$0.00")</td>
                <td>@checkout</td>
            </tr>
        }
    </tbody>
</table>
