@page
@model Library.Pages.Reports.MemberReportModel
@{
    ViewData["Title"] = "Members Report";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Start" class="control-label">Start Date:</label>
        <input asp-for="Start" class="form-control" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="End" class="control-label">End Date:</label>
        <input asp-for="End" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Generate Report" />
</form>


@if(Model.GenerateReport == true)
{
    int totalcount = Model.Reports.Count();
    //var arr = []; 
    for (int i = 0; i < totalcount; i++)
    { 
        
    }


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Join Date</th>
           @* <th>Check Out Date</th>*@
            <th>Returned</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Model.Reports)
        {
            <tr>
                <td>@row.FirstName</td>
                <td>@row.LastName</td>
                <td>@row.JoinDate</td>
                @*td>@row.CheckOutDate</td>*@
                <td>@Html.DisplayFor(m => row.IsReturned)</td>
            </tr>
        }
    </tbody>

    <h4>Total Members Joined @totalcount</h4>
</table>
}