@page
@model Library.Pages.Reports.MemberReportModel
@{
    ViewData["Title"] = "Members Report";
}

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Start" class="control-label">Start Date:</label>
        <input asp-for="Start" class="form-control" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="End" class="control-label">End Date:</label>
        <input asp-for="End" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FilterType" class="control-label">Checkout Type:</label>
        <select asp-for="FilterType" asp-items="Html.GetEnumSelectList<MemberTypes>()" class="form-control">
        </select>
        <span asp-validation-for="FilterType" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Generate Report" />
</form>



@if(Model.GenerateReport == true)
{
    <h4>Members Joined from @Model.Start.ToString("MM/dd/yyyy") to @Model.End.ToString("MM/dd/yyyy")</h4>
    <table class="table">
        <thead>
            <tr>
            
                <th>First Name</th>
                <th>Last Name</th>
                <th>Join Date</th>
                <th>Total Items Checked Out</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var row in Model.Reporting)
            {
                <tr>
                
                    <td>@row.FirstName</td>
                    <td>@row.LastName</td>
                    <td>@row.JoinDate.ToString("MM/dd/yyyy")</td>
                    <td>@row.CheckedOut</td>
                 </tr>
            }
        </tbody>

   
    </table>
    <h4>Total Members Joined: @Model.Reporting.Count()</h4>
}