@page
@model Library.Pages.Reports.MemberReportModel
@{
    ViewData["Title"] = "Members Report";
}

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Join Date</th>
            <th>Check Out Date</th>
            <th>Returned</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Model.Reports)
        {
            <tr>
                <td>@row.FirstName</td>
                <td>@row.LastName</td>
                <td>@row.JoinDate</td>
                <td>@row.CheckOutDate</td>
                <td>@Html.DisplayFor(m => row.IsReturned)</td>
            </tr>
        }
    </tbody>
</table>