@page
@model Library.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Library Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Job Title</th>
            <th>Supervisor</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.Gender</td>
                <td>@employee.JobTitle</td>

                @if (employee.SupervisorID == null)
                {
                    <td>N/A</td>
                }
                else
                {
                    var supervisor = Model.Context.Employee.Find(employee.SupervisorID);
                    <td>@employee.FirstName @employee.LastName</td>
                }

                @{
                    int? loginID = Model.HttpContext.Session.GetInt32("loginID");
                    string roles = Model.HttpContext.Session.GetString("roles") ?? string.Empty;
                    if (loginID != null && employee.ID == loginID || roles.Contains("admin"))
                    {
                        <td>
                            <form method="post" asp-page-handler="edit">
                                <input type="hidden" name="employeeID" value="@employee.ID" />
                                <input type="submit" value="Edit" />
                            </form>
                        </td>
                    }
                }
                
            </tr>
        }
    </tbody>
</table>
