@page
@model Library.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
    string? role = HttpContext.Session.GetString("employeeRole");
    int? loginID = HttpContext.Session.GetInt32("loginID");
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Birthday</th>
            <th>Hire Date</th>
            <th>Job</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@Html.DisplayFor(m => employee.PhoneNumber)</td>
                <td>@Html.DisplayFor(m => employee.BirthDate)</td>
                <td>@Html.DisplayFor(m => employee.HireDate)</td>
                <td>@Html.DisplayFor(m => employee.JobRole)</td>

                @if (role != null && role == "Admin")
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="employeeID" value="@employee.ID" />
                            <input type="submit" value="Edit" asp-page-handler="Edit" />
                            <input type="submit" value="Assign Supervisor" asp-page-handler="Assign"/>
                        </form>
                    </td>
                }
                else if (loginID != null && loginID == employee.ID) {
                    <td>
                        <form method="post">
                            <input type="hidden" name="employeeID" value="@employee.ID" />
                            <input type="submit" value="Edit" asp-page-handler="Edit" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>