@page
@model Library.Pages.Services.EditModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<h1>Edit Service</h1>

<hr />
<form method="post">
    <input type="hidden" name="serviceID" value="@Model.ID" />
    
    <label for="name">Service Name:</label>
    <input type="text" name="name" value="@Model.Name" />
    
    <br />
    
    <label for="location">Location:</label>
    <input type="text" name="location" value="@Model.Location" />
    <br />

    <label for="available">Is Available:</label>
    <input type="checkbox" name="available" asp-for="@Model.IsAvailable" />

    <br />

    <input type="submit" value="Edit Service" class="btn btn-primary" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<h3 style="color:red">@Model.ErrorMessage</h3>