@page
@model Library.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Services";
    string? loginType = HttpContext.Session.GetString("loginType");
    string? role = HttpContext.Session.GetString("employeeRole");
}

<h4>@Model.Message</h4>

<table class="table">
    <thead>
        <tr>
            <th>Service Location</th>
            <th>Service Name</th>
            <th>Availability?</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var service in Model.Services)
        {
            <tr>
                <td>@service.Location</td>
                <td>@service.Name</td>
                    <td>@Html.DisplayFor(model => service.Availability)</td>
                
                @if (loginType != null && loginType == "member")
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="serviceID" value="@service.ID" />
                            <input type="submit" value="Use Service" />
                        </form>
                    </td>
                }
                else if (loginType != null && loginType == "employee" && (role == "Admin" || role == "Technician"))
                {
                    <td>
                        <form method="post">
                            <input type="hidden" name="serviceID" value="@service.ID" />
                            <input type="submit" value="Edit Service" asp-page-handler="Edit" />
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

