@page
@model Library.Pages.Devices.CreateModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<h1>Device Creation</h1>
<hr />
<form method="post">
    
        <label for="type">Device Type:</label>
            <select name="type" value="@Model.Type" asp-for="@Model.Type">
                <option selected="selected" hidden="hidden">Select A Device Type</option>
                <option value="0">E-Reader</option>
                <option value="1">Computer</option>
            </select>
               
        <br />
        <label for="name">Name of Device:</label>
        <input type="text" id="name" name="name" value="@Model.Name"/>

        <br />
        <label for="condition">Condition:</label>
        <select name="condition" value="@Model.Condition" asp-for="@Model.Condition">
            <option selected="selected" hidden="hidden">Select A Condition</option>
            <option value="0">New</option>
            <option value="1">Slight</option>
            <option value="2">Damaged</option>
            <option value="3">Needs Repair</option>
        </select>
        
        <br />
        <input type="submit" value="Create" class="btn btn-primary" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<h3 style="color:red">@Model.ErrorMessage</h3>